*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}


body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  }


header{
  height: 80px;
  background-color: #255EE9;
}

p{
  font-size: 21px;
  font-weight: 550;
  line-height: 2rem;
  margin-top: 20px;
}

a{
  text-decoration: none;
  color: black;
}

h2{
  font-size: 55px;
}


.bg-grey{
  background-color: lightgrey;

}

.d-flex {
  display: flex;
  width: 100%;
}

/*HEADER*/

header .container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 100%;
}

nav ul{
  display: flex;
  list-style: none;
}

nav ul li{
  margin: 0 20px;  
}

.accesso{
  background-color: white;
  border-radius: 40px;
  padding:  12px 16px;
  color: black;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}




.jumbotron{
  background-size: cover;
  background-image: url(../img/jumbo.png);
  display: flex;
  justify-content: space-around;
  height: 620px;
  color: white; 
}

.jumbotron .text-jumbo{
  width: 40%;
  line-height: 2rem;
  text-align: center;
  margin-top: 50px;
}

div.text-jumbo h1{
  padding: 80px;
  font-size: 55px;
}

.jumbotron .button-jumbo{
  font-size: 25px;
  margin-top: 60px;
  cursor: pointer;

}
.jumbotron .downloadmac{
  padding: 16px 32px;
  border-radius: 28px;
  background-color: white;
  color: black;
  margin-right: 20px;
}


.jumbotron .browserdiscord{
  border-radius: 28px;
  padding: 16px 32px;
  background-color: #36393F;
  color: white;
}





.first-text{
  padding-top: 100px;
}

section.container{
  display: flex;
  align-items: center;
  min-height: 800px;

}

section.container .img1{
  margin-right: 130px;
}



.p-box{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 190px;
  width: 100%;
  
}



